
/**
 * = Badges
 */

.badge {
    font-size: 66%;
    line-height: 1.5;
    font-weight: 600;
}

.badge a {
    color: #ffffff;
}

.badge-inline {
    margin-right: .625rem;
}

.badge-inline+span {
    top: 2px;
    position: relative;
}

.badge-inline+span>a {
    text-decoration: underline;
}

.pixel-lite-badge {
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    right: -20px;
    padding: 5px 20px;
    top: -46px;
    background: #000181;
    border-radius: 0.125rem;
    box-shadow: 0 0.125rem 0.25rem rgba(42, 53, 79, 0.07);
}

@media (max-width: 767.98px) {
    .pixel-lite-badge {
        font-size: 1rem;
        right: -13px;
        padding: 5px 13px;
        top: -30px;
    }
}
