

/**
 * = Icons
 * Credit for the awesome W95 icons https://artage.io/en/icon-packs/original-windows-95-icons?li=all
 * And the sprite generator https://www.toptal.com/developers/css/sprite-generator/
 */

.w95-file-alert{
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -10px;
}

.w95-floppy {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -10px;
}

.w95-printer {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -62px;
}

.w95-blocks {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -62px;
}

.w95-printer-progress {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -62px;
}

.w95-cd-reader {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -114px;
}

.w95-text-file {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -114px;
}

.w95-floppy-2 {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -62px;
}

.w95-floppy-3 {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -114px;
}

.w95-text-file-a {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -10px;
}

.w95-window-wait {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -114px;
}

.w95-floppy-closed {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -166px;
}

.w95-printer-floppy {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -166px;
}

.w95-folder-file-transfer {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -166px;
}

.w95-file-settings {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -166px;
}

.w95-folder-settings {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -10px;
}

.w95-folder-rename {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -62px;
}

.w95-trash-bin-folder {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -114px;
}

.w95-trash-bin-file {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -166px;
}

.w95-app-folder-transfer {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -218px;
}

.w95-file-text {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -218px;
}

.w95-file-transfer-error {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -218px;
}

.w95-file-settings-icon {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -218px;
}

.w95-trash-bin-file-folder {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -218px;
}

.w95-floppy-button {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -10px;
}

.w95-folder-windows-apps {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -62px;
}

.w95-multiple-files {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -114px;
}

.w95-folder-printer {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -166px;
}

.w95-windows {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -218px;
}

.w95-search {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -270px;
}

.w95-folder {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -270px;
}

.w95-folder-letters {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -270px;
}

.w95-folder-tools {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -270px;
}

.w95-music-cd {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -270px;
}

.w95-blue-screen {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -270px;
}

.w95-tree {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -10px;
}

.w95-folder-open {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -62px;
}

.w95-file-printer {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -114px;
}

.w95-file-search {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -166px;
}

.w95-trash-bin-empty {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -218px;
}

.w95-folder-screens {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -270px;
}

.w95-help {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -322px;
}

.w95-trash-bin-full {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -322px;
}

.w95-screen-night {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -322px;
}

.w95-arrow-right-upwards {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -322px;
}

.w95-cd-reader-open {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -322px;
}

.w95-window-wait-2 {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -322px;
}

.w95-screen-day {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -322px;
}

.w95-desk {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -10px;
}

.w95-window-empty {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -62px;
}

.w95-open {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -114px;
}

.w95-hand {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -166px;
}

.w95-window-folder {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -218px;
}

.w95-globe {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -270px;
}

.w95-search-file {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -322px;
}

.w95-file-text-a {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -10px -374px;
}

.w95-nodes {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -62px -374px;
}

.w95-screen-windows {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -114px -374px;
}

.w95-cogs {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -166px -374px;
}

.w95-multiple-screens {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -218px -374px;
}

.w95-folder-files {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -270px -374px;
}

.w95-screens-2 {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -322px -374px;
}

.w95-windows-file {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -374px -374px;
}

.w95-floppy-progress {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -426px -10px;
}

.w95-component {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -426px -62px;
}

.w95-floppy-error {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -426px -114px;
}

.w95-cd {
    width: 32px; height: 32px;
    background: url('../img/w95-icons-sprite.png') -426px -166px;
}

.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.icon-xs {
    transform: scale(.5);
}

.icon-sm {
    transform: scale(.7);
}

.icon i,
.icon svg {
    font-size: 2.5rem;
}

.icon.icon-sm i,
.icon.icon-sm svg {
    font-size: 1.5rem;
}

.icon.icon-lg i,
.icon.icon-lg svg {
    font-size: 3rem;
}

.icon .organic-shape {
    margin-left: .5rem;
}

.icon.rounded-circle .icon-bordered {
    border-radius: 50%;
}

.icon.organic-radius .icon-bordered {
    border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
}